// Photographer card
// -----------------
.photographer-card {
  .card {
    &__wrapper {
      display: flex;

      flex-direction: column;
      align-items: center;

      a {
        display: block;
        height: 100%;

        &:hover {
          > .card__title,
          > .card__image {
            opacity: 0.7;
          }
        }
      }
    }

    &__media {
      position: relative;
      height: 200px;
      width: 200px;
      margin: 0 auto;

      border-radius: 50%;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }

    &__image {
      @include fullcover;

      border-radius: 50%;
      transition: ease-in-out 0.2s;
    }

    &__title {
      display: in;
      margin-top: 20px;

      font-size: 36px;
      transition: ease-in-out 0.2s;
    }

    &__country {
      font-size: 15px;
    }

    &__tagline {
      margin: 5px 0;

      font-size: 18px;
    }

    &__price {
      color: $gray;

      font-size: 16px;
    }
  }
}
