// Buttons
// -------
.btn {
  padding: 20px 10px;

  @include dmsans--medium;
  font-size: 20px;
  color: $white;
  background: $red;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
